<div class="container my-4" *ngIf="selectedUser">
    <h3>{{selectedUser.firstName}} {{selectedUser.lastName}}</h3>
    <form class="form mt-3" [formGroup]="editForm">
        <div class="form-group">
            <label class="mb-2 password">Password</label>
            <input type="password" class="form-control mb-2" formControlName="password">
        </div>
        <div class="form-group mt-3">
            <label class="mb-2 age">Age</label>
            <input type="number" class="form-control mb-2" formControlName="age">
        </div>
        <button type="button" (click)="updateUser()" class="btn btn-sm btn-primary mt-2 px-3">Update</button>
    </form>

</div>